* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #191919;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #1a1a1a;
}
.link-group {
  list-style: none;
  display: flex;
}
.link a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 20px;
}
.home-section {
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: 1s;
}

.hero-heading {
  color: #fff;
  font-size: 12vw;
  text-transform: capitalize;
  font-weight: 300;
}

.home-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  object-fit: cover;
  opacity: 0.5;
}
.project-section {
  width: 100vw;
  /* min-height: 100vh; */
  padding: 150px 50px;
  transition: 1s;
}

.project-heading {
  font-size: 7vw;
  background: #252525;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: #1a1a1a;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project-card {
  width: 500px;
  height: 400px;
  position: relative;
  margin-bottom: 20px;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.project-content {
  position: relative;
  padding: 40px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}

.project-title {
  font-size: 5vw;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 30px;
  font-size: 2vw;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  /* height: 40px; */
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background-color: #000;
  cursor: pointer;
  text-align: center;
}
.project-btn-github {
  color: white;
  background-color: #000;
  font-size: 18px;
  padding: 10px;
}

.project-btn-github a{
  text-decoration:None;
  color:white;
}

.project-card:hover .project-img {
  filter: blur(20px);
}
.project-card:hover .project-content {
  opacity: 1;
}

.heading {
  text-align: center;
  font-size: 4vw;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}

.skills-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  color: #fff;
}

.skill-card {
  position: relative;
}

.skill-img {
  display: block;
  margin: auto;
  height: 200px;
}

.skill-name {
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 2vw;
  line-height: 30px;
}

.skill-level {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
  background: #ff4f4f28;
  border-color: #ff4f4f;
  color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level {
  background: #4fa0ff28;
  border-color: #4fa0ff;
  color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level {
  background: #ffed4f28;
  border-color: #ffed4f;
  color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level {
  background: #52ff4f28;
  border-color: #52ff4f;
  color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level {
  background: #4fdfff28;
  border-color: #4fdfff;
  color: #4fdfff;
}

.contact-section {
  /* position: absolute; */
  /* top: 0; */
  /* opacity: 0; */
  transition: 1s;
  padding: 100px 150px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 10px;
}

::placeholder {
  color: #fff;
}

#msg {
  height: 280px;
  resize: none;
  font-family: sans-serif;
}

.form-submit-btn {
  background: #ff4f4f;
  color: #fff;
  text-transform: capitalize;
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.list_burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
  .list_burger {
    display: inline-block;
    cursor: pointer;
    position: sticky;
    top: 0.7vh;
    left: 87vw;
    z-index: 999;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .changes .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    /* transform: rotate(-45deg) translate(-9px, 6px); */
  }

  .changes .bar2 {
    opacity: 0;
  }

  .changes .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    /* transform: rotate(45deg) translate(-8px, -8px); */
  }

  .changes .navbar {
    display: block;
  }

  .changes .link-group {
    display: flex;
    flex-direction: column;
  }
  .home-section {
    display: block;
    width: 100%;
    height: 50vh;
    padding: 0 50px;
    margin-top: 50px;
  }
  .hero-heading {
    color: #ffffff;
    padding: 10vh 0px 0px 0px;
    font-size: 14vw;
    text-transform: capitalize;
    font-weight: 300;
  }

  .home-img {
    height: 50vh;
    width: 100vw;
  }
  .project-section {
    width: 100%;
    padding: 10px 10px;
  }
  .project-heading {
    font-size: 7vh;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .project-card {
    width: 90vw;
    height: 40vh;
  }
  .project-title {
    font-size: 5vh;
  }
  .project-info {
    font-size: 2vh;
    margin-top: 10px;
  }
  .heading {
    font-size: 4vh;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
  }
  .skill-name {
    font-size: 3vh;
  }
  .skill-info {
    font-size: 2vh;
  }
  .card-title {
    font-size: 3vh;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
  }
}
